_build
**/node_modules
**/.DS_Store

/.spago
/.psci_modules
/output
/output-pvm
/output-purvm
/output-lv3
/dist
/target
/.ulib-test-cache
/cli/bin
purvasm_lib
.psc-ide-port
.purs-repl
.spec-results
_draft
.claude-session